<div class="row">

    <span>{{title}}</span>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>链接</th>
            <th>排序</th>
            <th>添加时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>

        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>

        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222222</td>
            <td>工作室派对</td>
            <td>添加时间</td>
            <td>添加时间添加时间添加时间</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>