<div>
    <pagination total-items="res.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>

<table class="table" poster-list>
    <thead>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>标题</th>
        <th>链接</th>
        <th>排序</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in res.data">
        <td>{{$index+1}}</td>
        <td>{{item._id}}</td>
        <td>{{item.title}}</td>
        <td ng-bind-html="item.click_url | link:item.title"></td>
        <td>{{item.order}}</td>
        <td>{{item.timestamp | fullDate}}</td>
        <td><a href="javascript:" ng-click="edit(item)" class="btn btn-sm btn-default">编辑</a></td>
    </tr>
    </tbody>
</table>


